<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12 mt-5">
      <h1>Thank you, we have recieved your message.</h1>
      <%= link_to "Take Me Back!", root_path %>

    </div>

  </div>

</div>
