/* //////////////////////////////////////////////////////////////////////////////// */
/* ------------- signup--------------- signup----------------  signup------------*/
/* //////////////////////////////////////////////////////////////////////////////// */

#signup {
  padding-top: 130px;
  margin-top: 124px;
  margin-bottom: 240px;
}
.social-icons-inline i {
  font-size: 25px;
  margin: 0 7px;
  background: #82AE47;
  color: white;
  width: 45px;
  padding: 10px;
  border-radius: 50%;
}
.signup-left {
  margin: 3% auto;
}
#signup .form-control {
  padding: 36px 18px;
  font-size: 16px;
  font-weight: 300;
}
#signup h2 {
  // font-size: 33px;
  // font-weight: 300;
  // margin-top: 55px;
  margin-bottom: 27.5px;
}
#signup #message {
    height: 74px;
    padding: 26px 18px;
}
.bg-contact {
  background-image: url("https://cdn1.imggmi.com/uploads/2019/3/19/f0a67d4a3543025ae9b6d77906876fd0-full.png");

}
