// .parallax {
//   background-attachment: fixed;
//   background-position: no-repeat;
//   background-repeat: no-repeat;
//   background-size: contain;
// }
.bg-moonrocks {
  background-image: url("https://i.ibb.co/X7GYxCh/kurupts-moonrocks.png");
}
.bg-rosin {
  background-image: url('https://i.ibb.co/2cJgK45/rosin1.png');
}
.bg-flower {
  background-image: url('https://i.ibb.co/Bz19JQr/wetleaf.png');
}
.bg-cartridges {
  background-image: url('https://i.ibb.co/c69qWhK/darkweed3.png');
}
