// .parallax {
//   background-attachment: fixed;
//   background-position: no-repeat;
//   background-repeat: no-repeat;
//   background-size: contain;
// }
.bg-moonrocks {
  background-image: url(kurupts_moonrocks.png);
}
.bg-rosin {
  background-image: url(rosin1.png);
}
.bg-flower {
  background-image: url(wetleaf.png);
}
.bg-cartridges {
  background-image: url(wetleaf.png);
}
